<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <!-- <div class="pt-4">
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank" role="button">Download MDB
    <i class="fas fa-download ml-2"></i>
  </a>
        <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank" role="button">Start
    free tutorial
    <i class="fas fa-graduation-cap ml-2"></i>
  </a>
    </div> -->
    <!--/.Call to action-->

    <!-- <hr class="my-4"> -->

    <!-- Social icons -->
    <div class="pt-4">
        <a href="https://www.linkedin.com/in/odunayo-rotimi-ab33b1b3/" target="_blank">
            <i class="fab fa-linkedin-in mr-2"></i>
        </a>
        <a href="https://www.facebook.com/rotimiodunayo" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="https://twitter.com/OdunayoRotimi" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <div>Photo Credits: <a href="https://www.vecteezy.com/free-vector/nature-landscape" target="_blank">
                Vecteezy</a></div>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2020 Copyright:
        <a href="" target="_self"> Jesus and firends </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- bootstrap select -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<!-- Initializations -->
<script src="/js/main.js"></script>
</body>

</html>